@import "../lib/bourbon/app/assets/stylesheets/bourbon";
@import "../lib/breakpoint-sass/stylesheets/breakpoint";
@import "../lib/susy/sass/susy";

@import "reset";
@import "variables";

body{
	height:1000px;
}

.landscape{
	height:100%;
	width:100%;
	overflow:hidden;
	position:fixed;
	z-index:-10;
	top:0;

	svg{
		position:absolute;
		width:3840px;
		left:-50%;
		top:-$lg;
	}
}

#foreground{
	margin-top:50vh;
}

.content{
	background-color:#152744;
	height:100%;
	z-index:100;
	margin-top:-$tny;
	
}